#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
}

.card {
  background-color: rgb(255, 255, 255);
  color: rgb(8, 9, 12);
  padding: 2rem;
  margin-top: 2rem;
  border: 1px solid grey;
  /* width: 500px;
  display: grid; */
}

.card p {
  width: auto;
}

.control_section {
  display: flex;
  justify-content: space-between;
}
